
html{

    height: 100%;
}

body{

    margin: 0px;
    height: 100%;
    font-family: 'Comfortaa', sans-serif;
    
    color: rgb(255, 255, 255);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
header {
    text-align: center;
}
.vertical-align {
    align-self: flex-end;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.online-user-wrapper{
    flex-basis: 23%;
    height: 100%;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
#username-input{
    margin-top: 20px;
    width: 50%;
    text-decoration-color: tomato;
    text-align: center;
    font-size: 26px;
    border-bottom: solid 1px grey;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background-size: 200px 100%;
    background: wheat
}

.modal-title{
    margin: 15px 0px;
    padding: 5px;
}
.modal-content {
    color: tan;
    max-width: 1000px;
    min-height: 150px;
    background-color: transparent;
    opacity: 2;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    text-align: center;
}


.chat-wrapper{
    flex-basis: 75%;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
   /* background-color: tomato; */
   background: url(/assets/bg.png);


}
.list-item{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

#users-list{
    list-style-type: none;
}

.online-user-header-container{
    margin: 15px 0;
}
.btn {
    position: relative;
    /* display: block; */
    margin: 20px 5px;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: transparent;
    color: #04586d;

    transition: background-color .3s;
}
#username-input:focus{
    border-bottom: 1px solid teal;
}
#chatroom{
    overflow: auto;
    flex-basis: 71%;
    margin: 10px;
    margin-bottom: 0;
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    flex-wrap: nowrap;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
}

.box3 {
    margin: 5px 20px;
    border-radius: 15px;
    background: rgb(127, 18, 131);
    color: rgb(23, 22, 82);
    padding: 20px;
    display: inline-block;
    position: relative;
    text-align: left;
}

.sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #eee;
    border-top: 15px solid #eee;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}

.chat-text{
    margin: 3px;
}

.user-nickname{
    font-weight: bold!important;
}

.button#send_message {
    display: inline-block;
    height: 70%;
    width: 70%;
}
#send-container{
    margin-top: 10px;

}

.online-user-header-container{
    color: tomato;
}


.big-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100%;
}
.custom-input{
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Comfortaa', sans-serif;
    top: 25px;
    font-size: 16px;
    border:0;
    border-bottom:1px solid grey;
    transition: border-color 200ms ease-in-out;
    background: transparent;
    outline:none;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration-color: rebeccapurple;
}
